$mainFont: 'Montserrat', sans-serif;
$licenseNameFont: 'Bebas Neue', sans-serif;

$nameLicenseFontSize: 1.8rem;

$mainTextColor: #777;
$white: #fff;
$black: #000;
$borderColor: #eee;
$otherTextColor: #00a1ff;
$btnBgColor: #4f9c2a;